<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1061746237022-5nloaf13ips9892lusr159v4aa2hcuqk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061746237022-5nloaf13ips9892lusr159v4aa2hcuqk</string>
	<key>API_KEY</key>
	<string>AIzaSyB5kGxcVO2HE9HhcaIlkHhjgpxUD5xx9bI</string>
	<key>GCM_SENDER_ID</key>
	<string>1061746237022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.tapgame.app</string>
	<key>PROJECT_ID</key>
	<string>tapgame-f4e20</string>
	<key>STORAGE_BUCKET</key>
	<string>tapgame-f4e20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061746237022:ios:1d9a720e9e1219d8</string>
	<key>DATABASE_URL</key>
	<string>https://tapgame-f4e20.firebaseio.com</string>
</dict>
</plist>